
body {
    margin: 0;
    padding: 0;


}

.wripper {
    max-width: 1280px;
    height: 100%;

    margin:0 auto;
    padding: 0;

}

.texth1 {
    position: relative;
    display: block;

    margin:0;
    padding:0;

    top: 50px;

    text-align: center;



}

.main {
    
    position: relative;
    display: block;

    top:0px;
    left:0;

}

.footer {
    position: relative;
    display: block;

    margin:0;
    padding:0;

    top: 250px;

    
}

.texth2 {
    position: relative;
    display: block;

    margin:0;
    padding:0;

    top: 0px;

    text-align: center;



}


.textarea {
    display:block;
    position:relative;

    margin:0 auto;
    padding: 0;

    top:100px;
    
    width: 900px;
    height: 250px;

    font-size: 15pt;

}

.keyboard {
    display:flex;
    position:relative;

    flex-direction: column;
    /*justify-content: space-between;*/
    flex-wrap: wrap;

    margin:0 auto;
    padding: 0;

    top:150px;
    
    width: 950px;
    height: 280px;

    border: 5px solid black ;
    border-radius: 9px;

    background-color: gray;
}

.section1 {
    display:flex;
    position:relative;

    flex-direction: row;
    justify-content: space-between;
}

.section2 {
    display:flex;
    position:relative;

    flex-direction: row;
    justify-content: space-between;
}

.section3 {
    display:flex;
    position:relative;

    flex-direction: row;
    justify-content: space-between;
}

.section4 {
    display:flex;
    position:relative;

    flex-direction: row;
    justify-content: space-between;
}

.section5 {
    display:flex;
    position:relative;

    flex-direction: row;
    justify-content: space-between;
}


.button1 {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    /*top:100px;*/
    
    width: 100px;
    height: 100px;

}

.tilda {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    /*top:100px;*/
    
    width: 50px;
    height: 50px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: rgb(32, 27, 27);

    border-radius: 3px;

}

.del {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    /*top:100px;*/
    
    width: 50px;
    height: 50px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: black;

    border-radius: 3px;

}

.backspace {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 100px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;
}

.tab {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 75px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;
}

.capslk {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 120px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;


}

.enter {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 120px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;


}

.shift {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 100px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;

}

.artop {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 50px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;

}

.ctrl, .win, .alt, .arright, .arbot,.arleft {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    width: 50px;
    height: 50px;

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;

    background-color: black;
    border-radius: 3px;


}

.prob {
    display:block;
    position:relative;

    margin: 0;
    padding: 0;

    /*top:100px;*/
    
    width: 450px;
    height: 50px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: rgb(32, 27, 27);

    border-radius: 3px;

}

.section1 > div:hover, 
.section2 > div:hover, 
.section3 > div:hover, 
.section4 > div:hover, 
.section5 > div:hover {
  background-color: rgb(25, 184, 216);
  cursor: pointer;

}


/* .tilda:hover {
    background-color: rgb(25, 184, 216);
    cursor: pointer;
  
} */

.section2 {
    margin-right: 0;

}

.textBut1 {
    position: relative;
    display: block ;
    /*
    width: 184px;
    height: 35px;

    left: 0px;
    top: 1px;
    */

    padding: 0 ;
    margin: 0 0 0 5px;

    text-align: left;

    color:yellow;
   /* font-family: "Georgia-regular";*/
    font-weight: 400;
    font-style: normal;
    
    line-height: 15pt;
    font-size: 15pt;

}

.textBut2 {
    position: relative;
    display: block ;
/*
    width: 184px;
    height: 35px;

    left: 0px;
    top: 1px;
    */

    padding: 0 ;
    margin: 0;

    color:yellow;
   /* font-family: "Georgia-regular";*/
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 15pt;
    font-size: 15pt;

}

.textButBackspace {
    position: relative;
    display: block ;
/*
    width: 184px;
    height: 35px;

    left: 0px;
    top: 1px;
    */

    padding: 0 ;
    margin: 14px 0 0 0;

    color:yellow;
   /* font-family: "Georgia-regular";*/
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 15pt;
    font-size: 15pt;

}
